@import url(http://weloveiconfonts.com/api/?family=entypo);
form .validate {
  display: inline-block; }
  form .validate * {
    background-color: #322e23; }
  form .validate input {
    width: 128px;
    margin-bottom: 0;
    border: 1px solid gray; }
  form .validate > div {
    padding: 5px 8px;
    color: #f9541c;
    font-weight: bold;
    border: 1px solid gray;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }

input[type=text],
input[type=password],
select,
textarea {
  color: black;
  width: 120px;
  height: 18px;
  line-height: 18px;
  padding: 0 3px;
  background: mintcream url(http://board-schlacht-um-kyoto.de/img_suk/candy_input.png) repeat-x;
  border: 1px solid #6c665e;
    border-top-color: #35322f;
    border-right-color: #514c46;
    border-left-color: #514c46;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
  input[type=text]:focus,
  input[type=password]:focus,
  select:focus,
  textarea:focus {
    border: 1px solid #91BAD5;
    border-top: 1px solid #6796AE;
    -webkit-box-shadow: 0 0 2px #6796AE, inset 0 0 2px #6796AE;
    /* webkit browser*/
    -moz-box-shadow: 0 0 2px #6796AE, inset 0 0 2px #6796AE;
    /* firefox */
    box-shadow: 0 0 2px #6796AE, inset 0 0 2px #6796AE; }

.button {
  display: inline-block;
  background: url(../img/buttons.png) no-repeat 0px 0px;
  border: none;
  width: 95px;
  height: 27px;
  color: #cedcc3 !important;
  text-decoration: none !important;
  text-align: center;
  text-shadow: 0px 0px 2px #000;
  cursor: pointer;
  line-height: 27px;
  white-space: nowrap; }
  .button:hover {
    background-position: 0px -27px;
    text-shadow: 0px 0px 2px #cedcc3; }
  .button.button:active, .button.button.pressed {
    background-position: 0px -54px; }
  .button.small {
    background-position: -95px 0px;
    width: 60px; }
    .button.small:hover {
      background-position: -95px -27px; }
    .button.small:active, .button.small.pressed {
      background-position: -95px -54px; }
    .button.small.disabled, .button.small.disabled:hover, .button.small.disabled:active {
      background-position: -95px -81px; }
  .button.large {
    font-weight: bold;
    background-position: -155px 0px;
    width: 200px; }
    .button.large:hover {
      background-position: -155px -27px; }
    .button.large:active {
      background-position: -155px -54px; }
    .button.large.disabled, .button.large.disabled:hover, .button.large.disabled:active {
      background-position: -155px -81px; }
  .button.disabled, .button.disabled:hover, .button.disabled:active {
    background-position: 0 -81px;
    color: #2f4f4f !important;
    cursor: default;
    text-shadow: none; }
  .button.important {
    font-weight: bold;
    background-position: 0px -108px; }
    .button.important:hover {
      background-position: 0px -135px; }
    .button.important:active {
      background-position: 0px -162px; }
    .button.important.small {
      background-position: -95px -108px; }
      .button.important.small:hover {
        background-position: -95px -135px; }
      .button.important.small:active {
        background-position: -95px -162px; }

input.button {
  padding-bottom: 2px; }

a.round {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.95);
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 0px 2px black;
  background-image: url("../img/round.png");
  background-repeat: no-repeat; }
  a.round:hover {
    color: #473921;
    background-position: -48px 0; }

a.niceButton {
  display: block;
  width: 44px;
  height: 44px;
  border: 3px solid white;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  box-shadow: 0px 0px 1px black;
  -webkit-box-shadow: 0px 0px 1px black;
  -moz-box-shadow: 0px 0px 1px black;
  background: #d6d6d6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d6d6d6 0%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d6d6d6), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d6d6d6 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d6d6d6 0%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d6d6d6 0%, white 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d6d6d6 0%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6', endColorstr='white',GradientType=0 );
  /* IE6-9 */ }
  a.niceButton > span {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: 4px;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.7);
    background: #f2f0f1;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f2f0f1 0%, #b3afa4 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f0f1), color-stop(100%, #b3afa4));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f2f0f1 0%, #b3afa4 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f2f0f1 0%, #b3afa4 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f2f0f1 0%, #b3afa4 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f2f0f1 0%, #b3afa4 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f0f1', endColorstr='#b3afa4',GradientType=0 );
    /* IE6-9 */ }
    a.niceButton > span > span {
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 24px;
      margin: 6px;
      border-radius: 12px;
      -moz-border-radius: 12px;
      -webkit-border-radius: 12px;
      background-color: #D3CFC4;
      color: black;
      text-align: center; }

button {
  padding: 3px; }

.contextMenu {
  position: relative;
  margin-left: 200px;
  margin-top: 200px; }
  .contextMenu .circle {
    position: absolute;
    left: -50px;
    top: -50px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 100px;
    border: 8px solid rgba(255, 255, 255, 0.5);
    transition: left 0.5s, top 0.5s, width 0.5s, height 0.5s, line-height 0.5s, border-radius 0.5s; }
    .contextMenu .circle:hover {
      left: -100px;
      top: -100px;
      width: 200px;
      height: 200px;
      line-height: 200px;
      border-radius: 200px; }
  .contextMenu .item {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    color: #7a8092;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px dimgrey;
    background: #c9c9c9;
    border-radius: 50%;
    box-shadow: 0 0 3px 1px white;
    opacity: .56;
    transition: .5s; }
    .contextMenu .item:hover {
      opacity: 1; }
    .contextMenu .item.i1 {
      left: -10px;
      top: -110px; }
    .contextMenu .item.i2 {
      left: 60px;
      top: 60px; }
    .contextMenu .item.i3 {
      left: -80px;
      top: 60px; }

#title {
  position: absolute;
  top: 54px;
  left: 350px;
  right: 350px;
  z-index: 1;
  padding: 5px;
  text-align: center;
  background: rgba(242, 230, 194, 0.95);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(242, 230, 194, 0.95) 0%, rgba(229, 195, 92, 0.95) 50%, rgba(204, 173, 82, 0.95) 51%, rgba(242, 212, 121, 0.95) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(242, 230, 194, 0.95)), color-stop(50%, rgba(229, 195, 92, 0.95)), color-stop(51%, rgba(204, 173, 82, 0.95)), color-stop(100%, rgba(242, 212, 121, 0.95)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(242, 230, 194, 0.95) 0%, rgba(229, 195, 92, 0.95) 50%, rgba(204, 173, 82, 0.95) 51%, rgba(242, 212, 121, 0.95) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(242, 230, 194, 0.95) 0%, rgba(229, 195, 92, 0.95) 50%, rgba(204, 173, 82, 0.95) 51%, rgba(242, 212, 121, 0.95) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(242, 230, 194, 0.95) 0%, rgba(229, 195, 92, 0.95) 50%, rgba(204, 173, 82, 0.95) 51%, rgba(242, 212, 121, 0.95) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(242, 230, 194, 0.95) 0%, rgba(229, 195, 92, 0.95) 50%, rgba(204, 173, 82, 0.95) 51%, rgba(242, 212, 121, 0.95) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(242, 230, 194, 0.95)', endColorstr='rgba(242, 212, 121, 0.95)',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #6c665e;
    border-top-color: #35322f;
    border-right-color: #514c46;
    border-left-color: #514c46;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0px 0px 4px black;
  -webkit-box-shadow: 0px 0px 4px black;
  -moz-box-shadow: 0px 0px 4px black; }
  #title h1 {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5); }
  #title h2 {
    color: black;
    font-size: 12px; }

div.box {
  position: relative;
  border: 1px solid #6c665e;
    border-top-color: #35322f;
    border-right-color: #514c46;
    border-left-color: #514c46;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  box-shadow: 0px 0px 4px black;
  -webkit-box-shadow: 0px 0px 4px black;
  -moz-box-shadow: 0px 0px 4px black; }
  div.box > h3.head {
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    color: #cedcc3;
    background: rgba(73, 71, 67, 0.95);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(73, 71, 67, 0.95) 0%, rgba(65, 60, 46, 0.95) 50%, rgba(50, 46, 35, 0.95) 51%, rgba(77, 73, 62, 0.95) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(73, 71, 67, 0.95)), color-stop(50%, rgba(65, 60, 46, 0.95)), color-stop(51%, rgba(50, 46, 35, 0.95)), color-stop(100%, rgba(77, 73, 62, 0.95)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(73, 71, 67, 0.95) 0%, rgba(65, 60, 46, 0.95) 50%, rgba(50, 46, 35, 0.95) 51%, rgba(77, 73, 62, 0.95) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(73, 71, 67, 0.95) 0%, rgba(65, 60, 46, 0.95) 50%, rgba(50, 46, 35, 0.95) 51%, rgba(77, 73, 62, 0.95) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(73, 71, 67, 0.95) 0%, rgba(65, 60, 46, 0.95) 50%, rgba(50, 46, 35, 0.95) 51%, rgba(77, 73, 62, 0.95) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(73, 71, 67, 0.95) 0%, rgba(65, 60, 46, 0.95) 50%, rgba(50, 46, 35, 0.95) 51%, rgba(77, 73, 62, 0.95) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(73, 71, 67, 0.95)', endColorstr='rgba(77, 73, 62, 0.95)',GradientType=0 );
    /* IE6-9 */
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0; }
    div.box > h3.head.attention {
      color: black;
      background: rgba(242, 230, 194, 0.95);
      /* Old browsers */
      background: -moz-linear-gradient(top, rgba(242, 230, 194, 0.95) 0%, rgba(229, 195, 92, 0.95) 50%, rgba(204, 173, 82, 0.95) 51%, rgba(242, 212, 121, 0.95) 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(242, 230, 194, 0.95)), color-stop(50%, rgba(229, 195, 92, 0.95)), color-stop(51%, rgba(204, 173, 82, 0.95)), color-stop(100%, rgba(242, 212, 121, 0.95)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(242, 230, 194, 0.95) 0%, rgba(229, 195, 92, 0.95) 50%, rgba(204, 173, 82, 0.95) 51%, rgba(242, 212, 121, 0.95) 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(242, 230, 194, 0.95) 0%, rgba(229, 195, 92, 0.95) 50%, rgba(204, 173, 82, 0.95) 51%, rgba(242, 212, 121, 0.95) 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(242, 230, 194, 0.95) 0%, rgba(229, 195, 92, 0.95) 50%, rgba(204, 173, 82, 0.95) 51%, rgba(242, 212, 121, 0.95) 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, rgba(242, 230, 194, 0.95) 0%, rgba(229, 195, 92, 0.95) 50%, rgba(204, 173, 82, 0.95) 51%, rgba(242, 212, 121, 0.95) 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(242, 230, 194, 0.95)', endColorstr='rgba(242, 212, 121, 0.95)',GradientType=0 );
      /* IE6-9 */ }
      div.box > h3.head.attention a {
        color: black; }
        div.box > h3.head.attention a:hover {
          text-shadow: 0 0 2px black; }
    div.box > h3.head a {
      display: block;
      width: 20px;
      height: 20px;
      line-height: 20px;
      position: absolute;
      right: 5px;
      top: 2px;
      color: #cedcc3;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      cursor: pointer; }
      div.box > h3.head a:hover {
        text-shadow: 0 0 2px #cedcc3; }
  div.box > div.body {
    padding: 10px;
    color: #cedcc3;
    background-color: rgba(50, 46, 35, 0.8);
    box-shadow: inset 0px 0px 2px black;
    -webkit-box-shadow: inset 0px 0px 2px black;
    -moz-box-shadow: inset 0px 0px 2px black; }
  div.box > div.actions {
    padding: 10px;
    background-color: rgba(77, 73, 62, 0.8); }

.navigation {
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 350px;
  margin-left: -175px;
  background-color: #e3cb8f; }

#products {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 10px black;
  -webkit-box-shadow: 0px 0px 10px black;
  -moz-box-shadow: 0px 0px 10px black;
  border-left: none;
  border-right: none; }
  #products * {
    color: #cedcc3;
    text-decoration: none; }
  #products > .content {
    position: relative;
    width: 950px;
    height: 32px;
    line-height: 32px;
    margin: 0 auto; }
    #products > .content .company {
      position: absolute;
      left: 0;
      top: 0;
      height: 32px;
      line-height: 32px; }
    #products > .content .moreGames {
      position: absolute;
      right: 0;
      top: 0;
      height: 32px;
      line-height: 32px;
      text-align: left; }
      #products > .content .moreGames .selectGames {
        display: inline-block;
        height: 18px;
        line-height: 18px;
        margin-top: 6px;
        padding: 0 5px;
        border: 1px solid #6c665e;
          border-top-color: #35322f;
          border-right-color: #514c46;
          border-left-color: #514c46;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background-color: black;
        font-size: 11px;
        cursor: pointer; }
      #products > .content .moreGames .gamesBoard {
        position: absolute;
        right: 0;
        top: 32px;
        z-index: 2; }
        #products > .content .moreGames .gamesBoard .body {
          width: 300px; }
          #products > .content .moreGames .gamesBoard .body ul.gameList {
            padding: 0;
            list-style: none; }
            #products > .content .moreGames .gamesBoard .body ul.gameList li {
              float: left;
              padding: 5px;
              width: 140px;
              text-align: center; }
              #products > .content .moreGames .gamesBoard .body ul.gameList li:hover {
                border-radius: 4px;
                background-color: #f2d479; }
                #products > .content .moreGames .gamesBoard .body ul.gameList li:hover a {
                  color: #473921; }
              #products > .content .moreGames .gamesBoard .body ul.gameList li a {
                text-decoration: none; }

#login {
  position: relative;
  padding-top: 32px;
  background-image: url("../../mwo/img/tmp/bg.jpg");
  background-size: 100%; }
  #login .titleBox {
    margin: 40px 15px 300px 15px; }
    #login .titleBox .head div {
      padding-top: 3px; }
  #login .login {
    position: absolute;
    top: 160px;
    right: 15px; }
    #login .login form div {
      margin: 5px 0;
      text-align: right; }
  #login .register {
    float: left;
    width: 250px;
    margin-left: 15px; }
  #login .news {
    margin: 0 280px; }
  #login .info {
    float: right;
    width: 250px;
    margin-right: 15px; }

* {
  padding: 0px;
  margin: 0px;
  color: #cedcc3;
  font-size: 11px;
  font-family: arial; }

html {
  background-image: url("../img/background_pattern.png");
  background-position: top center;
  background-repeat: repeat-y;
  background-color: #cedcc3; }

body {
  min-width: 1080px;
  height: 100%; }
  body > .content {
    margin: 0 auto;
    width: 998px;
    height: 100%; }

.null {
  display: none; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif; }
