@import "sass/variables";
@import "sass/form";
@import "sass/buttons";
@import "sass/ui";
@import "sass/boxes";
@import "sass/navigation";

@import "sass/products";
@import "sass/login";

* {
	padding: 0px;
	margin: 0px;

	color: $colorTextDefault;
	font-size: 11px;
	font-family: arial;
}

html {
	background: {
		image: url("../img/background_pattern.png");
		position: top center;
		repeat: repeat-y;
		color: $colorPageBackground;
	}
}


body {
	min-width: 1080px;
	height: 100%;

	> .content {
		margin: 0 auto;
		width: 998px;
		height: 100%;
	}
}

.null {
	display: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}


@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}