@import "variables";

form {
	.validate {
		display: inline-block;

		* {
			background-color: $colorBoxBackground;
		}

		input {
			width: 128px;

			margin-bottom: 0;

			border: 1px solid $colorBorderInput;
		}

		> div {
			padding: 5px 8px;

			color: $colorTextError;
			font-weight: bold;

			border: 1px solid $colorBorderInput;
			border-top: none;

			border-bottom: {
				left-radius: 5px;
				right-radius: 5px;
			}
		}
	}
}