@import "variables";
@import "mixins";

#products {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	z-index: 3;

	background-color: rgba($colorShadowDark, 0.7);
	@include boxShadow(10px, $colorShadowDark);

	border: {
		left: none;
		right: none;
	}

	* {
		color: $colorTextDefault;
		text-decoration: none;
	}

	> .content {
		position: relative;
		width: 950px;
		height: 32px;
		line-height: 32px;

		margin: 0 auto;

		.company {
			position: absolute;
			left: 0;
			top: 0;

			height: 32px;
			line-height: 32px;
		}

		.moreGames {
			position: absolute;
			right: 0;
			top: 0;

			height: 32px;
			line-height: 32px;

			text-align: left;

			.selectGames {
				display: inline-block;
				height: 18px;
				line-height: 18px;

				margin-top: 6px;
				padding: 0 5px;

				@include borderDefault;
				@include borderRadius(3px);

				background-color: black;

				font-size: 11px;

				cursor: pointer;
			}

			.gamesBoard {
				position: absolute;
				right: 0;
				top: 32px;

				z-index: 2;

				.body {
					width: 300px;

					ul.gameList {
						padding: 0;

						list-style: none;

						li {
							float: left;

							padding: 5px;

							width: 140px;
							text-align: center;

							&:hover {
								border-radius: 4px;
								background-color: #f2d479;

								a {
									color: $colorTextHover;
								}
							}

							a {
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
}