@import "variables";

button {
	padding: 3px;
}

.contextMenu {
	position: relative;
	margin-left: 200px;
	margin-top: 200px;

	.circle {
		$radiusStart: 100px;
		$radiusEnd: 200px;

		position: absolute;
		left: -($radiusStart / 2);
		top: -($radiusStart / 2);

		width: $radiusStart;
		height: $radiusStart;
		line-height: $radiusStart;

		text-align: center;

		border-radius: $radiusStart;
		border: 8px solid rgba(white, 0.5);

		transition:
			left 0.5s,
			top 0.5s,
			width 0.5s,
			height 0.5s,
			line-height 0.5s,
			border-radius 0.5s;

		&:hover {
			left: -($radiusEnd / 2);
			top: -($radiusEnd / 2);

			width: $radiusEnd;
			height: $radiusEnd;
			line-height: $radiusEnd;
			border-radius: $radiusEnd;
		}
	}

	.item {
		position: absolute;

		display: block;
		width: 40px;
		height: 40px;
		line-height: 40px;

		font-size: 24px;
		color: #7a8092;
		text: {
			align: center;
			decoration: none;
			shadow: 0 -1px dimgrey;
		}

		background: #c9c9c9;
		border-radius: 50%;
		box-shadow: 0 0 3px 1px white;

		opacity: .56;
		transition: .5s;

		&:hover {
			opacity: 1;
		}

		&.i1 {
			left: -10px;
			top: -110px;
		}

		&.i2 {
			left: 60px;
			top: 60px;
		}

		&.i3 {
			left: -80px;
			top: 60px;
		}
	}
}

#loader {
	position: absolute;

	display: block;
	width: 31px;
	height: 31px;

	background-image: url('../img/ajax-loader.gif');
}

.insufficient {
	font-weight: bold;
	color: $colorTextError;
}