
$colorTextDefault: #cedcc3;
$colorTextHover: #473921;
$colorTextLight: white;
$colorTextDark: black;
$colorTextError: #f9541c;

$colorBackgroundDefault: #e3cb8f;
$colorPageBackground: #cedcc3;

$colorBoxBackground: #302a1a; // #544327;
$colorBoxBorder: #d0a489;
$colorBoxHighlight: #b9d274;

$colorBorderBottomDefault: #6C665E;
$colorBorderTopDefault: darken($colorBorderBottomDefault, 20%);
$colorBorderLeftDefault: darken($colorBorderBottomDefault, 10%);
$colorBorderRightDefault: darken($colorBorderBottomDefault, 10%);

$colorBorderInput: gray;

$colorShadowDefault: #555;
$colorShadowDark: black;